[flake8]
# F541: f-string without any placeholders (ugly alignment)
# (f'abc {bob}'
#  'def')
# F811: Redefinition of unused name (typing.overload)
# F401: unused import (__init__.py)
# F403: from module import * (__init__.py)
# E741: ambiguous variable name (T = TypeVar('T'))
max-line-length = 100
per-file-ignores =
    *: F541, F811, E741
    __init__.*: F401, F403
