repos:
  - repo: local
    hooks:
      - id: flake8
        name: Flake8
        description: Runs flake8 to lint the files.
        language: system
        types: [python]
        entry: flake8
        require_serial: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
